* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #929292;
    display: flex;
    justify-content: center;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 20%;
    align-items: center;
}

.card {
    width: 630px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #2e2e2e;
    border-radius: 10px;
    background-color: #eeeeee;
    padding: 2rem;
    margin-bottom: 5rem;
    box-shadow: 0 13px 30px #2e2e2e;
    perspective: 1000px;
}

.card-inner {
    transition: transform 0.6s;
    height: 100%;
}

.card-back {
    transform: rotateY(180deg);
}

.card:hover .card-inner {
    transform: rotateY(180deg);
  }

.card-front,
.card-back {
    backface-visibility: hidden;
    width: 100%;
    position: absolute;
}

.card-inner {
    transform-style: preserve-3d;
}

.card-front > p {
    text-align: center;
    margin-top: 5rem;
    font-size: 1.5rem;
    font-weight:  bold;
}

h2 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    text-align: center;
}

p {
    font-size: 1rem;
    margin-bottom: 1rem;
}

button {
    cursor: pointer;
}

#buttons {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

#randomizer{
    width: 170px;
    height: 50px;
    border-radius: 5px;
}

#arrow {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}